.master-back-button {
	display: inline-flex;
    align-items: center;
	text-align: center;
    padding: 4px 13px;
    font-size: 12px;
    border-radius: 4px;
    margin: auto 9px auto -6px;
    background-color: #F2F4F8;
    color: #666;
    vertical-align: middle;
    font-weight: 500;
    flex-shrink: 0;
    &:active {
        background-color: #f1f1f1;
    }
    iconify-icon {
        margin-right: 4px;
        font-size: 14px;
    }
}