.list-contents li.with-ext-info {
	height: auto !important;
	padding-top: 12px;
	padding-bottom: 32px;
	flex-wrap: wrap;
	align-content: flex-start;
}

.ext-info-root {
	width: 100%;
	position: relative;
	display: flex;
	margin-top: 16px;
}


.list-contents li.with-actress-info {
	height: auto !important;
	.file-type {
		top: 50%;
		transform: translateY(-50%);
		transition: none;
	}
	.file-name-wrap {
		display: flex;
		align-items: center;
		flex-direction: row;
		justify-content: flex-start;
		height: auto !important;
		padding-top: 12px;
		padding-bottom: 12px;
		.actress-info-img {
			width: 50px;
			height: 50px;
			border-radius: 50%;
			object-fit: cover;
			margin-right: 12px;
			border: 3px solid #f1f1f1;
			box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.1);
			background-color: #f1f1f1;
		}
	}
}
