@utility app-font-time {
  font-feature-settings: 'case' 1;
  font-variant-numeric: tabular-nums;
}

@utility app-font-file-size {
  font-feature-settings: 'case' 1;
  font-variant-numeric: tabular-nums;
}

@utility app-shadow {
  box-shadow:
    0 1px 1px rgba(0, 0, 0, 0.01),
    0 2px 2px rgba(0, 0, 0, 0.01),
    0 4px 4px rgba(0, 0, 0, 0.02),
    0 8px 8px rgba(0, 0, 0, 0.03),
    0 14px 14px rgba(0, 0, 0, 0.03);
}

@utility app-text-shadow {
  text-shadow:
    0 0 1px rgba(0, 0, 0, 0.01),
    0 0 2px rgba(0, 0, 0, 0.01),
    0 0 4px rgba(0, 0, 0, 0.02),
    0 0 8px rgba(0, 0, 0, 0.03),
    0 0 14px rgba(0, 0, 0, 0.03);
}

@utility app-text-shadow-drak {
  text-shadow:
    0 0 1px rgba(0, 0, 0, 0.02),
    0 0 2px rgba(0, 0, 0, 0.02),
    0 0 4px rgba(0, 0, 0, 0.03),
    0 0 8px rgba(0, 0, 0, 0.04),
    0 0 14px rgba(0, 0, 0, 0.04);
}

@utility app-glass-border {
  border: 1px solid rgba(255, 255, 255, 0.15);

  &::after {
    position: absolute;
    top: -1px;
    left: -1px;
    width: calc(100% + 2px);
    height: calc(100% + 2px);
    content: '';
    border-radius: inherit;
    background: linear-gradient(
      to right bottom,
      rgba(255, 255, 255, 0.5) 0%,
      transparent 40%,
      transparent 60%,
      rgba(255, 255, 255, 0.3) 100%
    );
    padding: 2px;
    -webkit-mask:
      linear-gradient(#fff 0 100%) content-box,
      linear-gradient(#fff 0 100%);
    -webkit-mask-composite: xor;
    z-index: 10;
    pointer-events: none;
  }
  &::before {
    position: absolute;
    top: -0.5px;
    left: -0.5px;
    width: calc(100% + 1px);
    height: calc(100% + 1px);
    content: '';
    border-radius: inherit;
    background: linear-gradient(
      to right bottom,
      rgba(255, 255, 255, 0.2) 0%,
      transparent 70%,
      transparent 80%,
      rgba(255, 255, 255, 0.1) 100%
    );
    padding: 1px;
    -webkit-mask:
      linear-gradient(#fff 0 100%) content-box,
      linear-gradient(#fff 0 100%);
    -webkit-mask-composite: xor;
    pointer-events: none;
    z-index: 10;
  }
}

@utility app-bg-gradient-glass {
  &::before {
    content: '';
    position: absolute;
    inset: 0;
    z-index: -1;
    backdrop-filter: blur(48px) saturate(180%) brightness(50%);
    mask-image: linear-gradient(to top, transparent, black 50%);
  }
}
