@utility app-font-time {
  font-feature-settings: 'case' 1;
  font-variant-numeric: tabular-nums;
}

@utility app-font-file-size {
  font-feature-settings: 'case' 1;
  font-variant-numeric: tabular-nums;
}

@utility app-shadow {
  box-shadow:
    0 1px 1px rgba(0, 0, 0, 0.01),
    0 2px 2px rgba(0, 0, 0, 0.01),
    0 4px 4px rgba(0, 0, 0, 0.02),
    0 8px 8px rgba(0, 0, 0, 0.03),
    0 14px 14px rgba(0, 0, 0, 0.03);
}

@utility app-text-shadow {
  text-shadow:
    0 0 1px rgba(0, 0, 0, 0.01),
    0 0 2px rgba(0, 0, 0, 0.01),
    0 0 4px rgba(0, 0, 0, 0.02),
    0 0 8px rgba(0, 0, 0, 0.03),
    0 0 14px rgba(0, 0, 0, 0.03);
}

@utility app-text-shadow-drak {
  text-shadow:
    0 0 1px rgba(0, 0, 0, 0.02),
    0 0 2px rgba(0, 0, 0, 0.02),
    0 0 4px rgba(0, 0, 0, 0.03),
    0 0 8px rgba(0, 0, 0, 0.04),
    0 0 14px rgba(0, 0, 0, 0.04);
}

@utility app-glass-border {
  border: 1px solid rgba(255, 255, 255, 0.1);
  border-radius: inherit;
}

@utility app-bg-gradient-glass {
  background-color: rgba(20, 20, 20, 0.95);
  backdrop-filter: none;
}
