:root {
	/* Base Colors */
	--x-player-background-color: #000;
	--x-player-color-primary: #0084ff;
	--x-player-color-primary-hover: #339dff;
	--x-player-color-primary-alpha: rgba(0, 132, 255, 0.3);

	/* Controls */
	--x-player-controller-progress-bar-color: var(--x-player-color-primary);
	--x-player-controller-progress-bar-color-hover: var(
		--x-player-color-primary-hover
	);
}
